<md-content class="get-started" layout="column" layout-align="center center">
  <md-toolbar class="md-accent">
    <h1 class="t-align-center">Currently Available Libs</h1>
  </md-toolbar>
  <div class="libs-container" layout layout-align="center center" layout-wrap>
    <md-button class="lib" flex="20"
        ng-repeat="lib in GetStarted.libs" ng-href="/libs/{{::lib.key}}">
      <i class="lib-icon devicon-{{::lib.devicon}}-plain"></i>
      <span class="lib-name" ng-bind="::lib.name"></span>
    </md-button>
    <md-button class="lib" flex="20" ng-href="https://github.com/goupdateme/updateme">
      <i class="lib-icon fa fa-plus"></i>
      <span class="lib-name">Add/Request More</span>
    </md-button>
  </div>
</md-content>
