<md-content class="libs" layout="column" layout-align="center center">
  <md-toolbar class="md-accent">
    <h1 class="t-align-center">
      Looking for a {{::Libs.name}}?
    </h1>
  </md-toolbar>
  <md-input-container layout>
    <i class="fa fa-search icon-search"></i>
    <input type="text" ng-model="Libs.search" ng-change="Libs.filterLibs(Libs.search)"
        ng-model-options="{ debounce: 400 }" aria-label="search">
  </md-input-container>
  <div class="listing" ng-if="Libs.resultExist" layout>
    <md-list class="browse-libs">
      <md-subheader class="md-primary">
        click <i class="fa fa-plus"></i> to subscribe
      </md-subheader>
      <md-list-item class="lib"
          ng-mouseenter="Libs.scout(lib)" ng-mouseleave="Libs.cancelScout()"
          ng-repeat="lib in (Libs.filteredLibs | limitTo: 10)">
        <subscription lib="::lib" layout layout-align="center center"></subscription>
      </md-list-item>
      <md-button class="md-warn md-raised" ng-show="Libs.notFound()" ng-click="Libs.forceSearch()">
        Not in the list
      </md-button>
    </md-list>
    <pre class="lib-data" ng-bind="Libs.libData"></pre>
  </div>
  <div class="not-found" ng-if="!Libs.resultExist" layout="column" layout-align="center center">
    <p>
      This guy does not seem to exist in the database at the moment.
      Please make sure the name is complete and correct, and click the
      button when the data is successfully loaded.
    </p>
    <md-button class="md-primary md-raised" ng-disabled="!Libs.goodToAdd" ng-click="Libs.create(Libs.search)">
      it's correct, add it now
    </md-button>
    <pre class="lib-data" ng-bind="Libs.libData"></pre>
  </div>
</md-content>
