<md-content class="libs" layout="column" layout-align="center center">
  <md-toolbar class="md-accent">
    <h1 class="t-align-center">
      Looking for a {{::LibType.name}}?
    </h1>
  </md-toolbar>
  <md-input-container layout>
    <i class="fa fa-search icon-search"></i>
    <input type="text" ng-model="LibType.search" ng-model-options="{ debounce: 200 }" aria-label="search">
  </md-input-container>
  <div layout>
    <md-list class="browse-libs">
      <md-list-item class="lib"
          ng-mouseenter="LibType.preview(lib)" ng-mouseleave="LibType.cancelPreview()"
          ng-repeat="lib in (LibType.knownLibs | filter: LibType.search | limitTo: 25)">
        <md-button class="md-icon-button" aria-label="subscribe">
          <i class="fa fa-plus"></i>
        </md-button>
        <span flex>{{::lib.name}}</span>
      </md-list-item>
    </md-list>
    <pre class="preview-lib-data" ng-bind="LibType.libData"></pre>
  </div>
</md-content>
