<md-content class="home" layout="column" layout-align="center center">
  <article class="how-it-works p1">
    <span class="subject">
      You
      <i class="fa fa-search"></i>
      <i class="fa fa-thumbs-up"></i>
    </span>
    <blockquote class="convo">
      Update me when they
      <i class="devicon-python-plain"></i>
      <i class="devicon-ruby-plain"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-github-plain"></i>
      have new versions
    </blockquote>
  </article>
  <article class="how-it-works p2">
    Some libs update to new versions...
  </article>
  <article class="how-it-works p3">
    <span class="subject">
      GoUpdateMe
      <i class="fa fa-envelope"></i>
      <i class="fa fa-send"></i>
    </span>
    <blockquote class="convo">Time to update this awesome library!</blockquote>
  </article>
  <md-button class="get-started md-primary md-raised" ng-href="/get-started">Get Started</md-button>
</md-content>
