<md-toolbar class="header main" layout layout-align="start center" layout-sm="column">
  <h1 class="brand">
    <a href="/">GoUpdateMe</a>
  </h1>
  <md-button ng-href="https://github.com/goupdateme/updateme" target="_blank">
    <i class="fa fa-github"></i>
    <md-tooltip md-direction="bottom">
      Fork it
    </md-tooltip>
  </md-button>
  <md-button ng-href="http://pochen.me" target="_blank">
    <i class="fa fa-user-secret"></i>
    <md-tooltip md-direction="bottom">
      Who built this?
    </md-tooltip>
  </md-button>
  <span flex></span>
  <profile></profile>
</md-toolbar>

<ng-view></ng-view>

<div class="footer main" layout="column" layout-align="center center">
  <h1 class="sponsor-banner water-mark">SPONSORS NEEDED</h1>
  <a href="mailto://chenpaul914@gmail.com">Email</a>
</div>
