$primary-color: #0277BD;
$accent-color: #FFD740;

@import "elements";
@import "appearance";
@import "text";

body {
  font-family: sans-serif;
}

.fa {
  vertical-align: middle;
}

.header.main {
  padding: 0 24px;

  .fa {
    font-size: 48px;
    padding: 12px;
  }
}

.footer.main {
  height: 256px;
  padding: 24px;
}
