$primary-color: #0277BD;
$accent-color: #FFD740;

@import "elements";
@import "spacing";
@import "display";
@import "text";

body {
  font-family: sans-serif;
}

.fa {
  vertical-align: middle;
}

.header.main {
  padding: 0 24px;

  .brand {
    margin-right: 24px;
  }

  .fa {
    font-size: 48px;
    padding: 12px;
  }
}

.footer.main {
  background-color: $accent-color;
  height: 256px;
  padding: 24px;

  .sponsor-banner {
    font-size: 3rem;
  }
}

#loading-bar .bar {
  background-color: $accent-color;
}

#loading-bar-spinner .spinner-icon {
  border-color: $accent-color transparent transparent $accent-color;
}
