.t-align-center {
  text-align: center;
}

.t-align-left {
  text-align: left;
}

.t-align-right {
  text-align: right;
}

md-toolbar.md-accent {
  color: rgb(14, 103, 132) !important;
}

.water-mark {
  color: rgba(51, 51, 51, .3);
}
